@font-face{
  font-family: RoxboroughCF;
  src: url(../src/assets/fonts/RoxboroughCF/RoxboroughCF-Regular.woff);
  font-size: 400;
}

@font-face{
  font-family: Abhaya-libre;
  src: url(../src/assets/fonts/abhaya-libre/AbhayaLibre-SemiBold.woff);
  font-size: 400;
}

html {
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --colour-bg: #FFEECD;
  --second-bg: #000000;
  --third-bg: #FFE2A8;
  --third-color: #B20C3B;
}

body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: var(--colour-bg);
  overflow-x: hidden;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-toggle {
  position: relative;
  cursor: pointer;
  margin-right: 1em;
  background-color: var(--third-bg);
  border-radius: 10px;
  padding: 10px;
  z-index: 1;
  height: 2.5em;
  width: 3em;
}

.menu-toggle .bar {
  display: block;
  background-color: var(--second-bg);
  height: 3px;
  width: 35px;
  margin: 5px 0;
  transition: all 0.3s ease;
  position: absolute;
}

.menu-toggle div:nth-child(1) {
  top: 4px;
  left: 7px;
}

 .menu-toggle div:nth-child(2) {
  top: 14px;
  left: 7px;
}

 .menu-toggle div:nth-child(3) {
  top: 24px;
  left: 7px;
}

 .menu-toggle.open div:nth-child(1) {
  transform: rotate(45deg);
  top: 14px;
  left: 7px;
}

 .menu-toggle.open div:nth-child(2) {
  opacity: 0;
}

 .menu-toggle.open div:nth-child(3) {
  transform: rotate(-45deg);
  top: 14px;
  left: 7px;
}

.navigation {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
}

.navigation li a {
  text-decoration: none;
  color: var(--second-bg);
  font-size: 16px;
  padding: 10px 0;
  display: block;
}

.navigation li a:hover {
  color: var(--third-color);
}

.navigation.open {
  display: block;
  margin-right: 1em;
}

header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

@media (min-width: 390px) {
  .menu-toggle {
    display: flex;
  }

  .navigation {
    position: fixed;
    top: 50px;
    right: 0;
    background-color: var(--third-bg);
    width: 200px;
    height: calc(100% - 250px);
    padding: 20px;
    display: none;
  }

  .navigation.active {
    display: flex;
  }

  .navigation li {
    text-align: left;
  }
}

section{
  display: flex;
  flex-direction: column;
}

h1{
  font-family: RoxboroughCF;
  font-size: 2.5em;
  text-align: center;
}

h2{
  font-size: 1.25em;
}

.logo {
  width: 20%;
  margin: 1em;
}

.hero-image_image{
  align-self: center;
}

.first-line{
  margin-left: -10px;
}

.second-line{
  color: var(--third-color);
  margin-left: 2em;
}

.hero-image_intro{
  font-family: RoxboroughCF;
  margin: 1em;
  text-align: center;
}

.first-section_headline{
  margin: 1.25em;
}

.first-section_headline::first-letter,
.second-section_headline::first-letter,
.third-section_headline::first-letter,
.fourth-section_text1::first-letter{
  font-size: 2.5em;
  line-height: 0;
  margin-right: 5px;
}

p{
  margin-left: 1.5em;
  margin-right: 1.5em;
  margin-bottom: 1.5em;
  font-family: Abhaya-libre;
  line-height: 1.5;
}

.timeline-card1{
  align-self: center;
}

.decorative-container1 {
  position: relative;
  display: flex;
  flex-direction: column;
}

.first-section_france{
  align-self: flex-end;
  margin: 1em;
}

.path{
  position: absolute;
  margin-top: 20em;
}

.interaction-ship{
  position: relative;
  width: 50px;
  height: auto;
  transform: translate(-50%, -50%);
  touch-action: none;
  z-index: 10;
}

.ship{
  width: 100px;
}

.first-section_text2{
  width: 14em;
  align-self: flex-end;
  margin-top: -3em;
}

.first-section_text3{
  width: 14em;
  align-self: flex-end;
}

.first-section_antwerp{
  align-self: flex-end;
  margin-right: 1em;
  z-index: 5;
}

.decorative-container2{
  position: relative;
  display: flex;
  flex-direction: column;
}

.interaction-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map-interaction {
  position: relative;
  /* This ensures the path and icon are contained here */
  margin: 1em;
}

.map-interaction_icon {
  position: absolute;
  width: 15%;
  cursor: grab;
  transition: transform 0.2s ease;
  transform: translate(-50%, -50%);
  z-index: 10;
  /* Ensure the icon stays above the path */
}

.map-interaction_icon.dragging {
  cursor: grabbing;
  transform: translate(-50%, -50%) scale(1.1);
}

.map-path {
  position: absolute;
  /* Position path absolutely inside .map-interaction */
  top: 22%;
  /* Your fixed position for the path */
  left: 43%;
  /* Your fixed position for the path */
  transform: rotate(-2deg);
  /* Your rotation angle for the path */
}

.info-display {
  position: absolute;
  padding: 10px;
  background-color: var(--third-color);
  /* Semi-transparent background */
  color: var(--colour-bg);
  border-radius: 8px;
  /* Rounded corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  /* Light shadow */
  max-width: 200px;
  /* Limiting the width of the info box */
  font-family: RoxboroughCF;
  display: none;
  /* Hidden by default, shown when needed */
  z-index: 100;
  /* Ensure it is above other elements */
}

.city-name {
  margin: 0;
  font-size: 16px;
}

.info-display p {
  font-size: 14px;
  margin: 5px 0 0;
  color: var(--colour-bg);
}

.second-section{
  background-color: var(--second-bg);
  clip-path: polygon(0 0, 100% 2%, 100% 98%, 0 100%);
}

.second-section_title{
  color: var(--colour-bg);
  margin-top: 2em;
}

.interaction-container_dagger {
  margin-top: -2em;
  position: relative;
  margin-bottom: 2em;
}

.second-section_plantin{
  margin-left: 5em;
}

.second-section_dagger{
  position: absolute;
  right: 5%;
  top: 15%;
  width: 50%;
  margin-top: -7em;
}

.second-section_headline{
  align-self: center;
  color: var(--colour-bg);
  margin-left: 1.25em;
  margin-right: 1.25em;
  margin-top: 1.5em;
  margin-bottom: 1.25em;
  line-height: 1.5;
}

.second-section_text1{
  align-self: center;
  color: var(--colour-bg);
}

.second-section_print{
  align-self: center;
}

.second-section_text2,
.second-section_text3,
.second-section_text4,
.second-section_text5,
.second-section_text7,
.second-section_text8{
  align-self: center;
  color: var(--colour-bg);
  margin-top: 1em;
}

.second-section_text6{
  margin-top: -1em;
  align-self: center;
  color: var(--colour-bg);
}

.second-section_text9{
  align-self: center;
  color: var(--colour-bg);
  padding-bottom: 2em;
}

.second-section_philip{
  margin-left: 2em;
}

.second-section_heresy{
  margin-top: -12em;
}

.second-section_hands{
  align-self: center;
}

.second-section_stronghold{
  align-self: center;
}

.third-section_title{
  margin-top: -0.2em;
}

.third-section_headline{
  align-self: center;
  margin: 1.25em;
}
.third-section_text1,
.third-section_text2,
.third-section_text3,
.third-section_text4,
.third-section_text5{
  width: 21em;
  align-self: center;
}

.third-section_biblia{
  margin-left: 2em;
}

.third-section_siege{
  margin-top: -10em;
}

.third-section_leiden{
  align-self: center;
}

.fourth-section{
  background-color: var(--third-bg);
  clip-path: polygon(0 4%, 100% 0, 100% 100%, 0 100%);
  margin-top: -2em;
}

.fourth-section_title{
  margin-top: 2em;
}

.fourth-section_text1{
  margin: 1em;
  line-height: 1.25;
}

.fourth-section_lilies{
  width: 70%;
  align-self: center;
}

.fourth-section_text2{
  margin-top: 2em;
  align-self: center;
  font-weight: bold;
  text-align: center;
}

.fourth-section_moretus{
  width: 80%;
  align-self: center;
}

.fourth-section_text3{
  text-align: center;
  align-self: center;
  font-weight: bold;
  margin-top: 1em;
}

button{
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 40px;
  align-self: center;
  color: var(--colour-bg);
  background-color: var(--third-color);
  border-style: none;
}

button:hover{
  color: var(--third-color);
  background-color: var(--colour-bg);
}

.button-museum{
  width: 10em;
}

.button-newsletter{
  width: 11em;
  margin-bottom: 2em;
}

footer{
  background-color: var(--third-color);
  padding-top: 3em;
  width: 100%;
}

.footer-title{
  font-family: RoxboroughCF;
  color: var(--colour-bg);
  margin-left: 1em;
  margin-top: -1em;
}

.footer-info{
  margin: 1.25em;
  color: var(--colour-bg);
}

li{
  list-style: none;
}

.footer-subheader{
  font-family: RoxboroughCF;
  color: var(--colour-bg);
  margin-left: 1.2em;
  margin-bottom: 1em;
}

.footer-icons{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.icon1,
.icon5{
  width: 100%;
  background-color: var(--colour-bg);
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  border-radius: 10em;
}

.icon2{
  width: 100%;
  background-color: var(--colour-bg);
  padding: 10px;
  border-radius: 10em;
}

.icon3{
  width: 100%;
  background-color: var(--colour-bg);
  padding: 0.5em;
  border-radius: 10em;
}

.icon4{
  width: 100%;
  background-color: var(--colour-bg);
  padding: 0.7em;
  border-radius: 10em;
}

.icon6{
  width: 100%;
  background-color: var(--colour-bg);
  padding: 0.8em;
  border-radius: 10em;
}

.footer-settings{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  font-family: RoxboroughCF;
  color: var(--colour-bg);
  margin-top: 1em;
}

.cookie,
.condition,
.manage{
  border-left: var(--second-bg);
  border-left-width: 2px;
  border-left-style: solid;
  padding-left: 1em;
  margin-right: -10px;
  margin-bottom: 0.5em;
}

.accessibility{
  border-left: var(--second-bg);
  border-left-width: 2px;
  border-left-style: solid;
  padding-left: 1em;
  margin-bottom: 0.5em;
}

.privacy{
  padding-left: 1em;
  margin-bottom: 0.5em;
}